.room {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.room__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color2);
  margin: 0 2rem;
  padding-bottom: 2rem;
  transition: box-shadow 0.3s;
}

.room__card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.room__card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.room__card-image:hover {
  opacity: 0.9;
}

.room__card-image img {
  width: 100%;
}

.room__card-title {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room__card-title h2 {
  font-family: var(--font-family);
  font-size: 25px;
}

.room__card-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.room__card-price h3 {
  font-family: var(--font-family);
  font-size: 17px;
  background-color: var(--color4);
  padding: 0.5rem 1rem;
}

.room__card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
}

.room__card-text p {
  font-family: var(--font-family);
  font-size: 18px;
}

@media screen and (max-width: 1150px) {
  .room {
    width: 90%;
  }

  .room__card {
    margin: 1rem 0;
  }

  .room__card {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .room__card-text p {
    font-size: 16px;
  }
}
